.chat-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    padding-top: 53px;
    border-bottom: 1px solid #E6E7E6;
}
@media (min-width: 768px) {
    .chat-container {
        padding-top: 63px;
    }
}
#frame {
    width: 100%;
    height: calc(100vh - 114px);
    min-height: 300px;
    background: #E6EAEA;
}
#frame #sidepanel {
    float: left;
    min-width: 58px;
    max-width: 340px;
    width: 58px;
    height: 100%;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px) {
    #frame #sidepanel {
        width: 40%;
        min-width: 280px;
    }
}
#frame #sidepanel #search {
    border-bottom: 1px solid #EAEBEA;
    font-weight: 300;
    border-right: 1px solid #EAEBEA;
    color: #32465a;
    display: none;
}
@media (min-width: 768px) {
    #frame #sidepanel #search {
        display: block;
    }
}
#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 10px 10px 46px;
    width: 100%;
    border: none;
    background: #efeeee;
}
#frame #sidepanel #search input:focus {
    outline: none;
    background: #dcdcdc;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #32465a;
}
#frame #sidepanel #search input::-moz-placeholder {
    color: #32465a;
}
#frame #sidepanel #search input:-ms-input-placeholder {
    color: #32465a;
}
#frame #sidepanel #search input:-moz-placeholder {
    color: #32465a;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
#frame #sidepanel #contacts {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (min-width: 768px) {
    #frame #sidepanel #contacts {
        height: calc(100% - 60px);
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: block;
    }
}
#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #f5f5f5;
    display: none;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#frame #sidepanel #contacts .thumbItem {
    text-decoration: none;
    color: #32465a;
}
#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 6px 0 46px 8px;
    font-size: 0.9em;
    cursor: pointer;
}
@media (min-width: 768px) {
    #frame #sidepanel #contacts ul li.contact {
        padding: 10px 0 15px 0;
    }
}
#frame #sidepanel #contacts ul li.contact:hover {
    background: #eaeaea;
}
#frame #sidepanel #contacts ul li.contact.active {
    background: #d8d8d8;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    display: none;
}
#frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 768px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 88%;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    background: #1abb9c;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 0px;
}
@media (min-width: 768px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 10px;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
    display: none;
}
@media (min-width: 768px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: block;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}
#frame .content {
    float: right;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: calc(100% - 58px);
    min-width: 300px;
}
@media (min-width: 768px) {
    #frame .content {
        width: 60%;
        min-width: 0;
    }
}

@media (min-width: 850px) {
    #frame .content {
        width: calc(100% - 340px);
    }
}
#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}
#frame .content .contact-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
    float: left;
}
#frame .content .messages {
    height: auto;
    min-height: calc(100% - 105px);
    max-height: calc(100% - 105px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
@media (min-width: 768px) {
    #frame .content .messages {
        min-height: calc(100% - 114px);
        max-height: calc(100% - 114px);
    }
}
#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
#frame .content .messages ul li.replies img {
    margin: 6px 8px 0 0;
}
#frame .content .messages ul li.replies p {
    background: #f5f5f5;
}
#frame .content .messages ul li.sent img {
    float: right;
    margin: 6px 0 0 8px;
}
#frame .content .messages ul li.sent p {
    background: #1ABB9C;
    color: #f5f5f5;
    float: right;
}
#frame .content .messages ul li img {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
}
#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    line-height: 130%;
}
@media (min-width: 768px) {
    #frame .content .messages ul li p {
        max-width: 205px;
    }
}
@media (min-width: 1000px) {
    #frame .content .messages ul li p {
        max-width: 300px;
    }
}
#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
#frame .content .message-input .wrap {
    position: relative;
}
#frame .content .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 50px);
    padding: 15px 15px 14px;
    font-size: 0.9em;
    color: #32465a;
    height: 52px;
}
@media (min-width: 768px) {
    #frame .content .message-input .wrap input {
        padding: 11px 15px 10px;
        height: 44px;
    }
}
#frame .content .message-input .wrap input:focus {
    outline: none;
}
#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 16px 0;
    cursor: pointer;
    background: #1ABB9C;
    color: #f5f5f5;
}
@media (min-width: 768px) {
    #frame .content .message-input .wrap button {
        padding: 12px 0;
    }
}
#frame .content .message-input .wrap button:hover {
    background: #06deb4;
}
#frame .content .message-input .wrap button:focus {
    outline: none;
}

.empty-msg {
    margin-top: 4em;
}

.empty-msg .img {
    background-image: url("../img/llaveFija.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 80%;
    max-width: 15em;
    margin: auto;
    height: 15em;
}

.empty-msg p {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #989595;
}

.msg-container {
    padding: 2em 3em;
}