.messageThumbnails {
    border-right: 1px solid #ccc;
    padding: 0.3em;
    height: 45em;
    overflow: scroll;
}

.messageThumbnails .thumbItem {
    display: block;
    padding: 0.3em;
    border-bottom: 1px solid #ccc;
}

.messageThumbnails .roundedImg {
    width: 3.5em;
    height: 3.5em;
    margin-top: 0.8em;
    border-radius: 50%;
}

.messageContent {
    height: 45em;
}

.messageContent .scrollableContent {
    overflow: scroll;
    height: 32.5em;
}

.messageContent p {
    margin: 0;
}

.myMsg, .otherMsg {
    padding: 0.5em 1em;
    border-radius: 1em;
    max-width: 20em;
    word-wrap: normal;
    margin-bottom: 1em;
}

.myMsg {
    float: right;
    background-color: #1ABB9C;
    color: #fff;
}

.otherMsg {
    float: left;
    background-color: #F1F0EF;
    color: #444444;
}

.messageContent .fields {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    position: relative;
}

.messageContent .fields textarea {
    resize: none;
    height: 7em;
    width: 100%;
    color: #444444;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.appointmentDetails {
    border-left: 1px solid #ccc;
    height: 45em;
    overflow: scroll;
}

.appointmentDetails .profilePicture {
    width: 10em;
    margin: auto;
}

.appointmentDetails .profilePicture img{
    width: 10em;
    height: 10em;
    border-radius: 100%;
    border: 4px solid #2b3f54;
    margin: auto;
    margin-top: 2em;
}

.appointmentDetails .stars {
    width: 6em;
    margin: auto;
    margin-top: 1em;
}

.appointmentDetails .address {
    text-align: center;
    margin-top: 0.5em;
    font-style: italic;
}