.profileImage {
    height: 38px;
    width: 38px;
    border-radius: 100%;
}

.label {
    font-size: 85%;
}

.empty-reviews {
    margin-top: 4em;
}

.empty-reviews .img {
    background-image: url("../img/Rodillo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 80%;
    max-width: 15em;
    margin: auto;
    height: 15em;
}

.empty-reviews p {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #989595;
}

.review-header {
    cursor: pointer;
    position: relative;
}

.review-header .arrow i {
    font-size: 1.5em;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.review-header .arrow.rotate i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.review-detail td {
    padding: 0!important;
    border-top: 0!important;
}

.review-detail .info {
    border-top: 1px solid #ddd;
}

.review-detail .info .content {
    margin: 2em auto;
    width: 100%;
}

.review-detail .info .content .firstCol {
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 768px) {
    .review-detail .info .content {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .review-detail .info .content .firstCol {
        margin-bottom: 0;
        text-align: left;
    }
}