.dash-items h5 {
    margin-bottom: 5px;
}

.dash-items img {
    width: 3.5em;
    height: 3.5em;
    margin-top: 0.8em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.dash-items article:not(:last-of-type) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #e6e9ed;
}

.empty-list {
    margin-top: 4em;
}

.empty-list .img {
    /*background-image: url("../img/llaveFija.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 80%;
    max-width: 10em;
    margin: auto;
    height: 10em;
}

.empty-list p {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #989595;
}

.empty-list.msg .img {
    background-image: url("../img/llaveFija.png");
}

.empty-list.ap .img {
    background-image: url("../img/grua.png");
}

.empty-list.review .img {
    background-image: url("../img/Rodillo.png");
}

.media .date {
    background: #26b99a;
}

.media-body {
    display: inline;
}

.media .img {
    margin-right: 10px;
}