html, body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #444444;
    height: 100%;
}

.main_container {
    min-height: 100%;
    position: relative;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 50px;
}

footer.footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E6E9ED;
}

.form-control {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #26b99a;
    border-color: #26b99a;
}

.btn-success:hover, .btn-success:focus, btn-success:active {
    background-color: #26b99a;
    border-color: #26b99a;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-full-width {
    width: 100%;
}

.form-error {
    margin-top: 5px;
    color: #e60000;
}

.resize-vertical {
    resize: vertical;
}