html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #444444;
}

h2 {
    color: #444444;
}

.main_container {
    min-height: 100%;
    position: relative;
}

.main-content {
    padding-top: 150px;
    padding-bottom: 50px;
}

footer.footer {
    background: #444444;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bgImg {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 50px;
    overflow: hidden;
}

.bgImg .img {
    background-image: url('../img/bgImg.png');
    width: 100%;
    height: 100%;
    background-position: center left;
    background-size: cover;
}

.left-screen {
    position: relative;
    left: 0;
    text-align: center;
}

h1 {
    font-size: 46px;
}

.searchForm {
    width: 25em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 5em;
}

.panel {
    border: 1px solid #E6E9ED;
    box-shadow: none;
}

.form-group label {
    width: 100%;
    text-align: left;
}

.form-control {
    height: 45px;
    box-shadow: none;
}

.searchForm .btn, .searchForm .btn:hover, .searchForm .btn:active {
    width: 100%;
    margin: auto;
    color: #fff;
    background-color: #26b99a;
    border-color: #26b99a;
    font-weight: bold;
    margin-top: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 10px;
}


@media (min-width: 768px) {
    .left-screen {
        width: 50%;
    }
}