body {
    background-color: #F7F7F7;
    color: #444444;
}

h2 {
    color: #444444;
}

.main-content {
    padding-top: 0;
}

.profileDetails {
    background: #26B99A;
    padding-top: 70px;
    margin-bottom: 3em;
    position: relative;
}

.profileDetails .bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 70px;
}

.profileDetails .bgImg .img{
    width: 100%;
    height: 100%;
    background-image: url("../img/profileBg.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
}

.profileDetails .content {
    text-align: center;
    padding-bottom: 2em;
    color: #ffffff;
    position: relative;
}

.profileDetails .profileImg img {
    border-radius: 100%;
    border: 7px solid #ffffff;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profileDetails .name h3 {
    margin-bottom: 0.1em;
}

.profileDetails .stars {
    margin-top: 0.5em;
}

.profileDetails .hline {
    width: 35%;
    height: 5px;
    position: absolute;
    top: 5em;
    background: #fff;
    border-radius: 5px;
}

.toLeft {
    left: 0;
}

.toRight {
    right: 0;
}

.panel {
    border-color: #E6E9ED;
}

.panel-shadow {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
}

.descriptionTxt {
    padding: 2em 3em;
}

.descriptionTxt p {
    margin: 0;
    position: relative;
}

.descriptionTxt .quote {
    font-size: 80px;
    color: #7a7a7a;
    line-height: 0px;
    position: relative;
}

.descriptionTxt .openQuote {
    top: 0.3em;
    margin-right: 0.3em;
}

.descriptionTxt .closeQuote {
    bottom: -0.2em;
    margin-left: 0.3em;
    position: absolute;
}

.form-control {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #26b99a;
    border-color: #26b99a;
}

.btn-success:hover, .btn-success:focus, btn-success:active {
    background-color: #26b99a;
    border-color: #26b99a;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-full-width {
    width: 100%;
}

textarea.form-control {
    resize: vertical;
    min-height: 10em;
}

label {
    color: #73879C;
    font-size: 13px;
}

#apDescription {
    min-height: 11em;
}

.aptitude h3 {
    margin-top: 1em;
    color: #72869c;
    margin-left: 1em;
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 0.5em;
    margin-bottom: 0.8em;
    margin-right: 1em;
}

.aptitude-bars {
    color: #73879C;
}

.aptitude-bars .stars {
    margin-bottom: 1em;
}

.aptitude-bars .progress-bar {
    background-color: #26b99a;
}

.review-item {
    min-height: 8em;
}

.line-divider:not(:first-of-type) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 1px solid #eee;
}

.review-item .profileImg {
    text-align: center;
    left: 0;
    right: 0;
}

.review-item .profileImg img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    object-fit: cover;
}

.review-item .name h5 {
    margin-bottom: 3px;
}

.review-item .date {
    font-style: italic;
    margin-right: 0.5em;
}

.review-item .dotDivider {
    display: inline-block;
}

.review-item .description {
    margin-top: 2em;
}

p.empty-stars {
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 1em;
    font-size: 12px;
}

.empty-reviews {
    margin-top: 2em;
}

.empty-reviews .img {
    background-image: url("../img/Rodillo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 80%;
    margin: auto;
    height: 10em;
}

.empty-reviews p {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #989595;
}

footer.footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
    margin-top: 2em;
}

.page-content {
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 768px) {
    .page-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel-appointment {
        position: absolute;
        right: 0.4em;
    }

    .panel-appointment-fixed {
        position: fixed;
        top: 6em;
    }

    .review-item .profileImg {
        position: absolute;
        padding: 0 0.5em;
    }

    .review-item .date {
        display: inline-block;
    }

    .review-item .stars {
        display: inline-block;
        margin-left: 0;
    }

    .review-item .description {
        margin-top: 1em;
    }

    .divider-left {
        border-left: 2px solid #EEEEEE;
    }

    .review-item .stars {
        margin-left: 0.5em;
    }

}

@media (min-width: 992px) {
    .page-content {
        padding-left: 3em;
        padding-right: 3em;
    }

    .panel-appointment {
        right: 1em;
    }
    .profileDetails .profileImg img {
        width: 200px;
        height: 200px;
    }
    .profileDetails .hline {
        top: 7em;
    }
}

@media (min-width: 1200px) {
    .page-content {
        padding-left: 5em;
        padding-right: 5em;
    }

    .panel-appointment {
        right: 2em;
    }
}
/*
.panel-fixed {
    position: fixed;
    top: 77px;
    right: 2em;
}*/

.panel-appointment-fixed-bottom {
    position: absolute;
}