html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #F7F7F7;
    color: #444444;
}

h2 {
    color: #444444;
}

.main_container {
    min-height: 100%;
    position: relative;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 50px;
}

footer.footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E6E9ED;
}

.panel.profile-item {
    padding: 15px 30px;
}

.panel.profile-item .panel-body {
    min-height: 12em;
}

.form-control {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #26b99a;
    border-color: #26b99a;
}

.btn-success:hover, .btn-success:focus, btn-success:active {
    background-color: #26b99a;
    border-color: #26b99a;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-full-width {
    width: 100%;
}

label {
    color: #73879C;
    font-size: 13px;
}

.profileImg {
    margin: auto;
    max-width: 7em;
    left: 0;
    right: 0;
}

.profileImg img {
    border-radius: 100%;
    width: 7em;
    height: 7em;
    object-fit: cover;
}

.profileImg .profileBtn {
    margin-top: 1em;
    text-align: center;
}

.profileImg .profileBtn .btn {
    padding: 5px;
}

.profileName, .serviceTypes {
    margin-top: 0;
}

.serviceTypes {
    font-style: italic;
}

.profileDescription {
    margin-top: 0.5em;
}

.separatorDot {
    display: none;
}

.empty-result {
    width: 80%;
    margin: auto;
}

.empty-result .img {
    width: 80%;
    height: 20em;
    margin: auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/searchEmpty.png");
    opacity: 0.7;
}

.empty-result .description {
    margin-top: 2em;
    color: #6f7a85;
}
.empty-result .description p {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .profileImg {
        position: absolute;
    }

    .moveLeft {
        float: left;
    }

    .moveRight {
        float: right;
    }

    .profileName {
        margin-right: 0.5em;
    }

    .serviceTypes {
        margin-left: 0.5em;
    }
    
    .separatorDot {
        display: inline-block;
    }

    .profileName, .serviceTypes {
        display: inline-block;
    }

    .col-fixed {
        position: fixed;
    }
}

@media (min-width: 992px) {
    .profileImg .profileBtn .btn {
        padding: 5px 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

