body {
    background-color: #F7F7F7;
    color: #444444;
}
.panel {
    border-color: #E6E9ED;
}
.form-control {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #26b99a;
    border-color: #26b99a;
}

.btn-success:hover, .btn-success:focus, btn-success:active {
    background-color: #26b99a;
    border-color: #26b99a;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-full-width {
    width: 100%;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-error {
 color: #E60000;
}

.panel-body {
    text-align: center;
}

label {
    color: #73879C;
    font-size: 13px;
}

footer.footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
    margin-top: 2em;
}

.profileImgEdit {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
    margin-top: 1em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 6px solid #73879C;
    margin-bottom: 3em;
}

.profileImgEdit #image-preview {
    width: 100%;
    height: 100%;
    background-image: url("/resources/img/defaultProfile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.profileImgEdit .cover {
    width: 100%;
    height: 100%;
    background-color: #444444;
    opacity: 0.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    border-radius: 100%;
}

.profileImgEdit:hover .cover {
    visibility: visible;
}

.profileImgEdit .cover .coverTxt {
    color: #ffffff;
    font-weight: bold;
    top: 55px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 0.5em;
}

.profileImgEdit input {
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 138px;
    height: 138px;
    border-radius: 100%;
    cursor: pointer;
    top: 0;
}