.result{
    text-align: center;
}

.result p{
    font-size: 15px;
    padding: 25px;
}

.bgImg {

    width: 100%;
    height: 45%;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}

.bgImg .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.successImg{
    background-image: url('../img/okWorker.png');
}

.failedImg{
    background-image: url(../img/confusedWorker.png);
}


