.app-profile {
    margin-top: 3em;
    padding: 0 2em;
}

.app-profile .app-header {
    text-align: center;
}

.app-profile .app-header img {
    max-width: 8em;
    border-radius: 100%;
}

.app-profile .app-section {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

.app-profile .app-section:not(:last-of-type) {
    border-bottom: 1px solid #e6e9ed;
}

.app-profile .app-section h5 {
    color: #73879C;
    font-weight: bold;
    font-size: 15px;
}

.app-profile .app-section p {
    padding: 0 1em;
}

.review {
    padding: 0 2em;
}

.review .review-header {
    text-align: center;
    font-weight: bold;
}

.review .review-content {
    margin-top: 2em;
}

.review .review-content h5 {
    color: #73879C;
    font-size: 15px;
}

.review .review-content .star-container {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

.review .review-content .star-container .star-item {
    text-align: center;
    color: #73879C;
}

.review-content label {
    color: #73879C;
}

.review-content textarea {
    min-height: 12em;
}